*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
input{
    border: 2px solid grey;
    border-radius: 4px;
    height: 40px;

}
.navbar{
    background-color: #212529 !important;
}

#time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler{
    border: 0px !important;
    border-radius: 4px !important;
}
.fa.fa-exchange{
    cursor: pointer;
}
.col{
    text-align: center;
    font-size: 30px;
}

.cal-title{
    text-align: center;
    margin-bottom: 25px;
}
#sidenav{
    display: none;
}
ul>li{
    text-align: center;
}

#cal{ 
display: grid;
align-items: center;
justify-content: center;
    top: 30%;
    left: 50%;
    margin-top: 13%;
    /* border: 2px solid black; */
}
#cal>h1{
    text-align: center;
    margin-bottom: 20px;
}
.nav-brand{
    text-decoration: none;
    color: white;
    font-size: 20px;
    float: left;
    justify-content: center;
}

.nav-brand:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width:500px){
    nav{
        height: 60px;
    }
    
    #lnk{
        position: absolute;
        left: 100;
        right: 0;
        float: right;
        text-align: center;
    }
    #foot{
        height: 20px;
        float: bottom;
    }
}
#foot{
    position: absolute;
    bottom: 0;
    height: 10px;
    /* background-color: #212529; */
    top: 100;
    margin: 0 !important;
    /* border: 2px solid red; */

    padding: 0px !important;
} 
.cole{
    width: 50%;
    display: inline-block;
    text-align: center;
}
#ffoot
{
    /* padding: 50px 0px; */
    /* margin-top: 100%; */
    background-color: #212529;
   border-top: 2px solid #212529;  
    color: white;
}  
#ffoot a{
    color: white;
    text-decoration: none;
}
i{
    margin-right: 10px;
}
h3{
    /* border:1px solid red; */
    text-align: center;
}
.right-side{
    color: white;
width: 50%;
display: inline-table;

}
.left-side{
 display: inline-table;
    color: white;
width: 50%;
}
ul{list-style-type: none;}
.right-side>ul>li>a,.left-side>ul>li>a{
    color: white;
    text-decoration: none;
    /* list-style-type: none; */
}
.col{
    font-size: 15px;
}
            
